global:
  confirm_prompt: false
  log_dir: log/
  cfg_dir: /etc/taos/

  # Common structure definition
  connection_info: &db_conn
    host: 127.0.0.1
    port: 6030
    user: root
    password: taosdata

  data_format: &data_format
    format_type: sql

  data_channel: &data_channel
    channel_type: native

  database_info: &db_info
    name: benchdebug
    drop_if_exists: true
    properties: precision 'ms' vgroups 4

  super_table_info: &stb_info
    name: meters
    columns: &columns_info
      - name: current
        type: float
        min: 0
        max: 100
      - name: voltage
        type: int
        min: 200
        max: 240
      - name: phase
        type: float
        min: 0
        max: 360
    tags: &tags_info
      - name: groupid
        type: int
        min: 1
        max: 10
      - name: location
        type: binary(24)

  tbname_generator: &tbname_generator
    prefix: d
    count: 10000
    from: 0

concurrency: 4

jobs:
  # Create database job
  create-database:
    name: Create Database
    needs: []
    steps:
      - name: Create Database
        uses: actions/create-database
        with:
          connection_info: *db_conn
          database_info: *db_info


  # Create super table job
  create-super-table:
    name: Create Super Table
    needs: [create-database]
    steps:
      - name: Create Super Table
        uses: actions/create-super-table
        with:
          connection_info: *db_conn
          database_info: *db_info
          super_table_info: *stb_info


  # Create child table job
  create-second-child-table:
    name: Create Second Child Table
    needs: [create-super-table]
    steps:
      - name: Create Second Child Table
        uses: actions/create-child-table
        with:
          connection_info: *db_conn
          database_info: *db_info
          super_table_info: *stb_info
          child_table_info:
            table_name:
              source_type: generator
              generator: *tbname_generator
            tags: 
              source_type: generator
              generator:
                schema: *tags_info
          batch:
            size: 1000
            concurrency: 10


  # Insert data job
  insert-second-data:
    name: Insert Second-Level Data
    needs: [create-second-child-table]
    steps:
      - name: Insert Second-Level Data
        uses: actions/insert-data
        with:
          # source
          source:
            table_name:
              source_type: generator
              generator: *tbname_generator
            columns:
              source_type: generator
              generator:
                schema: *columns_info

                timestamp_strategy:
                  generator:
                    start_timestamp: now() + 10s
                    timestamp_precision : s
                    timestamp_step: 3

          # target
          target:
            target_type: tdengine
            tdengine:
              connection_info: *db_conn
              database_info: *db_info
              super_table_info: *stb_info

          # control
          control:
            data_format:
              format_type: stmt
              stmt:
                version: v2
            data_channel:
              channel_type: native
            data_generation:
              interlace_mode:
                enabled: tru\e
                rows: 1
              generate_threads: 2
              per_table_rows: 100
            insert_control:
              per_request_rows: 10000
              auto_create_table: false
              insert_threads: 1
              thread_allocation: index_range
            time_interval:
              enabled: true
              interval_strategy: literal
